$progressButtonIconFontFamily: "FontAwesome" !default;
$progressButtonIconsColor: #0e7138 !default;
$progressButtonSuccessIcon: "\f00c" !default; /* Checkmark for success */
$progressButtonErrorIcon: "\f05e" !default; /* Checkmark for error */
$progressButtonBackground: #1d9650 !default;
$progressButtonColor: #FFF !default;
$progressButtonProgressColor: #148544 !default;
$progressButtonProgressInnerColor: #0e7138 !default;