@progressButtonIconFontFamily: "FontAwesome";
@progressButtonIconsColor: #0e7138;
@progressButtonSuccessIcon: "\f00c"; /* Checkmark for success */
@progressButtonErrorIcon: "\f05e"; /* Checkmark for error */
@progressButtonBackground: #1d9650;
@progressButtonColor: #FFF;
@progressButtonProgressColor: #148544;
@progressButtonProgressInnerColor: #0e7138;